main{
    padding: 30px 20px 30px 20px;
}
.item-list{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 20px 0 20px 0;
}

.item-list__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px;
    margin-right: 20px;
}

.item-list__img img{
    width: 100px;
}

.item-list__info{
    padding-top: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.item-list__info div{
    margin-top: 5px;
}

.item-list__info-meta{
    font-size: smaller;
    color: rgba(0,0,0,0.5);
}

.item-list__info-price{
    font-weight: bold;
}

.write-btn{
    position: fixed;
    bottom: 150px;
    right: 20px;
    background-color: #fe6f0f;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}