footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #ebebed;
  width: 100vw;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 10px;
}

.input-box input {
  border-radius: 17px;
  height: 30px;
  width: 400px;
  padding-left: 10px;
}

.emoji-icon {
  position: relative;
  left: -38px;
}

.input-chat {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 30px;
}
