.item-info {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px;
  border-bottom: 1px solid #ededef;
  padding-bottom: 20px;
}
.item-info__img {
  border: solid 1px;
  border-radius: 10px;
  padding: 20px;
  margin-right: 10px;
}
.item-info__img img {
  width: 50px;
}

.item-into__title {
  font-size: 15px;
}

.item-info__price {
  font-weight: bold;
}

.chat-me {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 15px;
}

.chat-time {
  margin: 0px 5px 0 5px;
  opacity: 0.8;
}

.chat-content {
  border: 1px solid #ff7e35;
  background-color: #ff7e35;
  color: white;
  padding: 15px 10px 15px 10px;
  border-radius: 20px 0px 20px 20px;
}

.chat-notme {
  display: flex;
  justify-content: left;
  align-items: center;
}

.chat-notme .chat-content {
  border-radius: 0 20px 20px 20px;
  background-color: #ebebed;
  border-color: #ebebed;
  color: black;
}

.chat-notme .chat-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
}

.chat-profile {
  width: 20px;
  border: 1px solid;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}
